@{
    ViewData["Title"] = "Home Page";
}

@model ChartModel

<!DOCTYPE html>

<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>



</head>

<body>
  

  <h1>Surf Forecast</h1>
  
  <div class="charts">

  <h2 class="charts-heading"id="charts-heading">Forecast Models</h2>

  
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="locationSelectButton" data-toggle="dropdown">
            Select Location
          </button>
          <div class="dropdown-menu">
            @foreach (var location in ViewBag.Locations)
            {
            <a class="dropdown-item" href="#" data-location-id=@location.ID data-location="@location.Name">@location.Name</a>
            }
          </div>
        </div>
      </div>
      <div class="col-md-6 text-right">
        <a asp-area="" asp-controller="Home" asp-action="Location" class="btn btn-primary btn-md active" role="button" aria-pressed="true">Add New Location</a>      </div>

    </div>
  </div>
    
  <h2 class="charts-heading"id="location-title">@Model.locationSelectViewModel.locationName</h2>

  <div class="chart">
  <canvas id="windspeed-chart" width="800" height="250"></canvas>
  </div>

  <div class="chart">
  <canvas id="waveheight-chart" width="800" height="250"></canvas>
  </div>

</div>
<!-- Chart JS -->  
<script>

new Chart(document.getElementById("windspeed-chart"), {
  type: 'line',
  data: {
    labels: [@Html.Raw(@Model.WindChartModel.Labels)],
    datasets: [
      {
        label: "Wind Speed (mph)",
        fill: true,
        borderColor: "#4169e1",
        data: [@Model.WindChartModel.Data]
      }
    ]
  },
  options: {
    legend: { display: false },
    title: {
      display: true,
      text: 'Wind Speed (mph)'
    }
  }
});

new Chart(document.getElementById("waveheight-chart"), {
  type: 'line',
  data: {
    labels: [@Html.Raw(@Model.SwellChartModel.Labels)],
    datasets: [
      {
        label: "Wave Height (ft)",
        fill: true,
        borderColor: "#4169e1",
        data: [@Model.SwellChartModel.Data]
      }
    ]
  },
  options: {
    legend: { display: false },
    title: {
      display: true,
      text: 'Wave Height (ft)'
    }
  }
});
</script>
<script>

  // jQuery script to update dropdown title based on location selection
  $(document).ready(function () {
    $('.dropdown-menu a').on('click', function () {
      var selectedLocation = $(this).data('location');
      var locationId = $(this).data('location-id');
      updateCharts(locationId);
      $('#location-title').text(selectedLocation);
    });

    function updateCharts(locationId) {
      // Update the URL with the new locationId
      var currentUrl = window.location.href;
      var newUrl = currentUrl.split('?')[0] + '?locationId=' + locationId;
      window.location.href = newUrl;
    }
  }); 
</script>
</body>
</html>